<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96e971">  <td>21/08/19 01:57:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.basePageNavigation(java.lang.String, java.lang.String)[pri:0, instance:e2eframework.HomePage@702657cc]">basePageNavigation</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="96e971">  <td>21/08/19 01:57:40</td>   <td>11654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.basePageNavigation(java.lang.String, java.lang.String)[pri:0, instance:e2eframework.HomePage@702657cc]">basePageNavigation</td> 
  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="96e971">  <td>21/08/19 01:57:24</td>   <td>-4031</td> <td>&nbsp;</td><td title="&gt;&gt;HomePage.initialize()[pri:0, instance:e2eframework.HomePage@702657cc]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1574598287</td>   <td></td> </tr>
<tr bgcolor="96e971">  <td>21/08/19 01:57:43</td>   <td>14990</td> <td>&nbsp;</td><td title="&lt;&lt;HomePage.tearDown()[pri:0, instance:e2eframework.HomePage@702657cc]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1574598287</td>   <td></td> </tr>
</table>
