<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58980">  <td>21/09/07 08:39:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.basePageNavigation(java.lang.String,java.lang.String)[pri:0, instance:e2eframework.HomePage@63475ace]">basePageNavigation</td> 
  <td>main@1050065615</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>21/09/07 08:39:42</td>   <td>4155</td> <td>&nbsp;</td><td title="&lt;&lt;HomePage.tearDown()[pri:0, instance:e2eframework.HomePage@63475ace]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050065615</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>21/09/07 08:39:35</td>   <td>-3005</td> <td>&nbsp;</td><td title="&gt;&gt;HomePage.initialize()[pri:0, instance:e2eframework.HomePage@63475ace]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050065615</td>   <td></td> </tr>
<tr bgcolor="d7f8b4">  <td>21/09/07 08:39:42</td>   <td>4422</td> <td>&nbsp;</td><td title="&gt;&gt;ValidateNavbar.initialize()[pri:0, instance:e2eframework.ValidateNavbar@38102d01]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050065615</td>   <td></td> </tr>
<tr bgcolor="d7f8b4">  <td>21/09/07 08:39:47</td>   <td>9259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateNavbar.validateNavbar()[pri:0, instance:e2eframework.ValidateNavbar@38102d01]">validateNavbar</td> 
  <td>main@1050065615</td>   <td></td> </tr>
<tr bgcolor="d7f8b4">  <td>21/09/07 08:39:47</td>   <td>9344</td> <td>&nbsp;</td><td title="&lt;&lt;ValidateNavbar.tearDown()[pri:0, instance:e2eframework.ValidateNavbar@38102d01]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050065615</td>   <td></td> </tr>
<tr bgcolor="dac5ef">  <td>21/09/07 08:39:47</td>   <td>9485</td> <td>&nbsp;</td><td title="&gt;&gt;ValidateTitle.initialize()[pri:0, instance:e2eframework.ValidateTitle@5c90e579]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050065615</td>   <td></td> </tr>
<tr bgcolor="dac5ef">  <td>21/09/07 08:39:52</td>   <td>14246</td> <td>&nbsp;</td><td title="&lt;&lt;ValidateTitle.tearDown()[pri:0, instance:e2eframework.ValidateTitle@5c90e579]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1050065615</td>   <td></td> </tr>
<tr bgcolor="dac5ef">  <td>21/09/07 08:39:52</td>   <td>14169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateTitle.validateTitle()[pri:0, instance:e2eframework.ValidateTitle@5c90e579]">validateTitle</td> 
  <td>main@1050065615</td>   <td></td> </tr>
</table>
